  body {
    font-family: Consolas, monospace;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  section{
    min-height: 700px;
  }

  .menu{
    font-family: Consolas, monospace;
    color: #fff;
    font-size: 1.25rem;
    cursor: pointer;
    text-align: left;
 }

 .menu span:hover {
  color: whitesmoke; 
  }

  #header-principal{
    position: sticky;
    top: 0;
    background-color: #333;
    z-index: 100; 
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 3px;
    font-size: 1.25rem;
    text-align: center;
  }

  header h1{
    text-align: right;
    margin-right: 100px;
  }

  #proyectos,
  #habilidades {
    text-align: center;
    font-size: 1.75rem;
  }
  
  section {
    padding: 30px;
  }
  
  #sobre-mi h2{
    font-size: 3.55rem;
    text-align: left;
    margin-left: 140px;
    
  }
  
  #sobre-mi p{
    float: left;
    width: 70%;
    margin-left: 70px;
    margin-right: 30px;
    font-size: 1.75rem;
  }
  
  #yo {
    height: auto;
    border-radius: 30%;
    margin-right: 70px; 
    float: right; 
    margin-top: 200px;
  }

  #habilidades h2{
    
    text-align: center;
    margin-left: 140px;
  }

  .habilidad {
    margin-top: 20px;
  }
  
  .habilidad h3 {
    font-size: 1.125rem;
    margin-bottom: 10px;
  }
  
  .habilidad1 p {
    margin: 25px 0;
    text-align: left;
    margin-left: 40%;
  }
  
  .columnas {
    display: flex;
    flex-wrap: wrap;
  }
  
  .columnas > div {
    width: calc(50% - 10px);
    margin-bottom: 10px;
    text-align: center;
  }
  
  .proyecto {
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .proyecto h3 {
    margin-top: 0;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    bottom: 0;
    width: 100%;
  }
  
  #pie-final {
    font-size: 0.8125rem;
  }
  
  #contacto {
    font-size: 1.25rem;
  }
  #contacto div {
    display: flex;
    align-items: center;
  }
  
  #contacto-img1 {
    margin-right: 15px;
    margin-left: 15px;
  }

  #contacto-img2 {
    margin-right: 0px;
  }


.animated {
  transition: all 0.7s ease;
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(50px);
}